


.contact-heading{
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    }
    
    #contact-form{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color:#fdfdfd ;
    
    }
    #c-form{
    margin-top: 30px;
    width: 800px;
    padding: 20px;
    }